.el-visible {
  visibility: visible !important;
}

html, body {
  width: 100vw;
  height: 100vh;
  font-family: sans-serif;
  font-size: 16px;
}

body {
  background-color: #F8F8F8;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#main-content {
  position: relative;
  top: calc(50% - 11em);
  height: 22em;
  width: 50%;
  margin: 0 auto;
  background-color: #FBFBFB;
  padding: 0.5em;
  border-radius: 4px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}

.result-header {
  text-align: center;
}

#final-price {
  color: #990000;
  font-weight: 600;
}

.lab-column {
  display: flex;
  flex-flow: column;
  padding: 0.5em;
}

.spn-label-text {
  font-size: 0.9em;
  color: #000;
  padding: 0.2em 0;
}

.sml-error {
  visibility: hidden;
  font-size: 0.6em;
  color: #990000;
  padding: 0.2em;
}

.inp-rounded {
  border-radius: 4px;
  padding: 0.5em;
  margin: 0.2em 0;
  font-size: 1.2em;
  height: 2em;
  background-color: #fff;
  color: #000;
  border: none;
  width: 100%;
  outline: none;
  transition: box-shadow 300ms;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}

.inp-rounded:not(.has-error):hover {
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  z-index: 1;
}

input.has-error {
  transition: box-shadow 300ms;
  box-shadow: 0 0 2px #990000;
}

.sel-rounded {
  color: #000;
  background-color: #fff;
  border-radius: 4px;
  padding: 0 24px 0 4px;
  font-size: 1.2em;
  height: 2em;
  background-repeat: no-repeat;
  background-position: right 2px center;
  outline: none;
  border: none;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: bottom;
  transition: box-shadow 300ms;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}

.sel-rounded:not(.has-error):hover {
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  z-index: 1;
}

select.has-error {
  transition: box-shadow 300ms;
  box-shadow: 0 0 2px #990000;
}